<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>
<body>
    <h1>Add A Farm</h1>
    <form action="/farm" method="post">
        <div>
        <label for="name">Farm name</label>
        <input type="text" name="name" placeholder="farm name" id="name">
    </div>

    <div>
        <label for="city">City</label>
        <input type="text" name="city" placeholder="city" id="city">
    </div>
       

    <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="email" id="email">
    </div>
       
       
        <button>submit</button>
    </form>

    <a href="/farm">cancel</a>
</body>
</html>